# Host Configuration
HOST_NAME=localhost
EXTERNAL_HOST=0.0.0.0

# MongoDB Configuration
MONGO_USERNAME=admin
MONGO_PASSWORD=123456
MONGO_DATABASE=audiobooksDB
MONGO_PORT=27017
MONGO_EXPRESS_PORT=28081
MONGO_EXPRESS_USER=user
MONGO_EXPRESS_PASSWORD=password

# Backend Configuration
BACKEND_PORT=23000
JWT_SECRET=a7ddef9ea47d1218021d7d27b955e583a3f9ebce4ba39f47e047a5e0f863f476
JWT_EXPIRES_IN=30d
EMAIL_NAME=your_email@gmail.com
EMAIL_PASS=your_email_app_password
OTP_SECRET=your_otp_secret_key_here

# TTS Service Configuration
TTS_PORT=28000
DEBUG=True
PROJECT_NAME=TTS Service
TTS_SECRET_KEY=b95c1b8ada2d169d69c18f6323cfc2ff9d103329b2ae53a4a2922a17e4bde385
DEFAULT_VOICE_MODEL=female
CHUNK_SIZE=5000

# Firebase Configuration (Firestore)
FIREBASE_PROJECT_ID=your-firebase-project-id
FIREBASE_PRIVATE_KEY=your-firebase-private-key
FIREBASE_CLIENT_EMAIL=your-firebase-client-email
FIREBASE_STORAGE_BUCKET=your-firebase-storage-bucket