aiofiles==23.2.1
annotated-types==0.7.0
anyio==3.7.1
astunparse==1.6.3
audioread==3.0.1
bcrypt==4.0.1
beautifulsoup4==4.8.0
cachetools==5.5.2
cffi==1.17.1
chardet==3.0.4
click==8.1.8
cryptography==44.0.2
decorator==5.2.1
dnspython==2.7.0
docx2txt==0.8
extract-msg==0.23.1
fastapi==0.104.1
ffmpeg-python==0.2.0
firebase-admin==6.2.0
google-api-core==2.24.2
google-auth==2.38.0
google-cloud-firestore==2.20.1
google-cloud-storage==3.1.0
h11==0.14.0
Jinja2==3.1.2
joblib==1.4.2
keras==2.14.0
langdetect==1.0.9
librosa==0.10.1
lxml==5.3.1
MarkupSafe==3.0.2
motor==3.3.1
nltk==3.8.1
numpy==1.26.1
pandas==2.1.2
passlib==1.7.4
pdfminer.six==20181108
Pillow==10.1.0
pycparser==2.22
pydantic==2.4.2
pydub==0.25.1
PyJWT==2.10.1
pymongo==4.11.2
PyPDF2==3.0.1
pytest==7.4.3
pytest-asyncio==0.21.1
python-docx==1.0.1
python-jose==3.3.0
python-multipart==0.0.6
python-slugify==8.0.1
PyYAML==6.0.1
regex==2024.11.6
requests==2.32.3
rich==13.6.0
scikit-learn==1.6.1
scipy==1.15.2
soundfile==0.12.1
starlette==0.27.0
tensorflow==2.14.0
textract==1.6.3
tqdm==4.67.1
uvicorn==0.24.0